In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import time
import pandas as pd
import lxml

In [2]:
#copied code from scrape_mars.py
def getLeaderboardData():
    url = "https://app.codesignal.com/leaderboard/"

    executable_path = {'executable_path': 'chromedriver.exe'}
    browser = Browser('chrome', **executable_path, headless=False)

    browser.visit(url)
    
    #add a delay so page fully loads
    time.sleep(6)
    
    #set leaderboard to all-time
    browser.find_by_css('div.-start').first.click()
    
    browser.find_by_css("div#select-1-option-total").first.click()
    
    time.sleep(4)
    
    #close cookie saver notification banner
    browser.find_by_css('div.close-banner').last.click()
    
    #start collecting data
    
    for i in range(100):
        
        try:
            current_leaderboard = browser.html

            news_soup = bs(current_leaderboard, "html.parser")

            top_scorers = news_soup.find_all("table")[0]
    #         print(top_scorers)

            if(i == 0):
                output = pd.read_html(top_scorers.prettify(), header=0, flavor="bs4")[0]
            else:
                output = output.append(pd.read_html(top_scorers.prettify(), header=0, flavor="bs4")[0], ignore_index=True)

            browser.find_by_css('div.icon.-size-12').last.click()
        except:
            print("Missing page #{} of 100".format(i))
        
        time.sleep(8)

    browser.quit()

    return output

In [3]:
output_df = getLeaderboardData()
output_df

        #   CodeSignaler  Level  Country       XP
0       1         lonerz    NaN      NaN  4553861
1       2          AWice    NaN      NaN  3678454
2       3      romatua_l    NaN      NaN  3573800
3       4       flatorez    NaN      NaN  3426924
4       5   pythagoras_i    NaN      NaN  3247495
..    ...            ...    ...      ...      ...
995   996  santosh_savan    NaN      NaN   222196
996   997   tsvetoslav_t    NaN      NaN   222133
997   998    stephentran    NaN      NaN   222069
998   999       artskeem    NaN      NaN   221946
999  1000         mitiku    NaN      NaN   221440

[1000 rows x 5 columns]

In [4]:
len(output_df)

1000

In [5]:
output_df.to_csv("./output/current_leaderboard.csv", index=False)